@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.font-inter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}